* {
	font-size: 24px;
	font-family: "Comic Sans", "Comic Sans MS", cursive;
}

.custom_header{
	background: linear-gradient(-90deg,#d55d88 , #651a34);
	color: white;
	text-align: center;
	
}

.custom_header p{
	font-size: 1.2 em;
}

.custom_footer{
	background: #333333;
	color: white;
	text-align: center;
}
.color_head1{
	background-color: #5c5cd6;
	color: white;
}
@media screen and (min-width: 650px){
	li{
		font-size: 16px;
	}
	a{
		font-size: 16px;
	}
	p{
		font-size: 16px;
	}
	h1{
		font-size: 12px;
	}
	span {
		font-size: 20px;
	}
	.font123{
		font-size: 22px;
	}
	strong{
		font-size: 18px;
	}

}


@media screen and (max-width: 480px){
	li{
		font-size: 12px;
	}
	a{
		font-size: 12px;
	}
	p{
		font-size: 12px;
	}
	
	span {
		font-size: 16px;
	}
	.font123{
		font-size: 18px;
	}
	strong{
		font-size: 14px;
	}

}


@media screen and (min-width: 481px) and (max-width: 651px){
	li{
		font-size: 14px;
	}
	a{
		font-size: 14px;
	}
	p{
		font-size: 14px;
	}
	
	span {
		font-size: 18px;
	}
	.font123{
		font-size: 20px;
	}
	strong{
		font-size: 16px;
	}

}
